

.btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
}
.form-group {
    --input-default-border-color: white;
    --input-border-bottom-color: white;
    

}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);

}
.morse-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);

}
.form-note-add{
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);

}
.bmi-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);

}
.quadratic-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);

}
.ppm-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);

}
.form-group {
    margin: 12px 0;
    width: 60%;
}

.btn {
width: 60%;
margin: 18px 0 9px 0;
}

.text-center {
    text-align: left;
}
.navbar {
    background-color: #050000;
    font-weight: bold;
    z-index: 10000;
    }
.navbar a{
    color: #00ff15;
}    
a.custom-card,
a.custom-card:hover {
  color: inherit;
}
.card{
    height: 500px;
    width: 500px;
    margin-top: 20px;
}
.card-img-top{
    height: 320px;
}
#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
.carousel-item {
    width: 800px;
    height: 700px;
}
.carousel{border:3px solid whitesmoke}

