<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"/>
    
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"/>

        <title>{% block title %}HOME{% endblock %}</title>
    </head>

    <body>
      <nav class="navbar navbar-expand-lg">
        {% if not user.is_authenticated %}
        <a class="navbar-brand" href="/">Strona Główna</a>
        {% else %}
        <a class="navbar-brand" href="/user-notes">Twoje Notatki</a>
        <a class="navbar-brand" href="/bmi-calc">Kalkulator BMI</a>
        <a class="navbar-brand" href="/morse">Konwerter morse'a</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            {% if not user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link" href="/login">Logowanie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sign-up">Panel Rejestracyjny</a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Aplikacje
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="color: black;">
                <a class="dropdown-item" href="#">SOMETHING</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Wyloguj</a>
          </li>
          {%endif %}
        </ul>
        </div>
      </nav>
        <div class="p-5 bg-image" style="background-image: url('/static/img/rock.jpg');height: auto; width: auto;" >
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          {% if category=='error' %}
          <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% else %}
          <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          {% endfor %}
        {% endif %}
        {% endwith %}


        <div class="container">
          {% block content %}
          {% endblock %}
        </div>










        <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
      ></script>
  
      <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
      ></script>
    </body>    
    

</html>