{% extends "base.html" %} {% block title %}GEOMETRIA{% endblock %}

{% block content %}
<div class="card-deck">
    <a href="/quadratic" class="custom-card">
        <div class="card" >
        <br><br>
          <img class="card-img-top" src="static/img/kolo.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Koło</h5>
            <p class="card-text">Oblicz deltę i miejsca zerowe funkcji.</p>
          </div>
        </div>
    </a>
    <a href="/geometry" class="custom-card">
        <div class="card" >
        <br><br>
          <img class="card-img-top" src="static/img/trojkat.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Trójkąt</h5>
            <p class="card-text">Obliczanie pól, obwodów.. </p>
          </div>
        </div>
    </a>
    <br><br><br>
    <a href="/geometry" class="custom-card">
        <div class="card" >
        <br><br>
          <img class="card-img-top" src="static/img/kwadrat.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Kwadrat</h5>
            <p class="card-text">Obliczanie pól, obwodów.. </p>
          </div>
        </div>
    </a>
    <a href="/geometry" class="custom-card">
        <div class="card" >
        <br><br>
          <img class="card-img-top" src="static/img/prostokat.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Prostokąt</h5>
            <p class="card-text">Obliczanie pól, obwodów.. </p>
          </div>
        </div>
    </a>
    <br><br><br>
    <a href="/geometry" class="custom-card">
        <div class="card" >
        <br><br>
          <img class="card-img-top" src="static/img/trapez.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Trapez</h5>
            <p class="card-text">Obliczanie pól, obwodów.. </p>
          </div>
        </div>
    </a>
    <a href="/geometry" class="custom-card">
        <div class="card" >
        <br><br>
          <img class="card-img-top" src="static/img/romb.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Romb</h5>
            <p class="card-text">Obliczanie pól, obwodów.. </p>
          </div>
        </div>
    </a>
  </div>



{% endblock %}