{% extends "base.html" %} {% block title %}MATEMATYKA{% endblock %}

{% block content %}
<h1>Math</h1>
<div class="card-deck">
    <a href="/quadratic" class="custom-card">
        <div class="card" >
        <br><br>
          <img class="card-img-top" src="static/img/kwadratowa.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Funkcja kwadratowa</h5>
            <p class="card-text">Oblicz deltę i miejsca zerowe funkcji.</p>
          </div>
        </div>
    </a>
  </div>
{% endblock %}